@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../assest/pxfuel.jpg) ;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  background-attachment: fixed;

}